﻿@{
    ViewBag.Title = "Chat";
}
<div ng-app="myApp">
    <div ng-controller="chatController2">
        <label>Name:</label> <input type="text" ng-model="username"/>
        <input type="text" ng-model="newMessage" /><button class="btn btn-primary" ng-click="send()">Send</button>
        <ul ng-repeat="m in messages">
            <li>{{m.user}}: {{m.message}}</li>
        </ul>
    </div>
</div>